{% extends 'admin/base.admin.html.twig' %}

{% block title %}Hello HideoutController!{% endblock %}

{% block body %}

<div class="container">
    <div class="row mb-2">
        <div class="col">
            <h1>Hideouts</h1>
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" href="#">Hideouts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('hideout_type') }}">Hideout types</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <a class="btn btn-primary" href="{{ path('hideout_add') }}" role="button">
                <i class="fas fa-plus"></i> New
            </a>
        </div>
    </div>
</div>

{% endblock %}
