{% extends 'admin/base.admin.html.twig' %}

{% block title %}Hello MissionTypeController!{% endblock %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col">
            <h1>Add mission</h1>
            {{ form(form) }}
        </div>
    </div>
</div>

{% endblock %}
