{% extends 'admin/base.admin.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
<div class="container">
    <div class="row mb-2">
        <div class="col">
            <h1>Users</h1>
            <a class="btn btn-primary" href="{{ path('user_add') }}" role="button">
                <i class="fas fa-plus"></i> New
            </a>
        </div>
    </div>
</div>
{% endblock %}
