body {
    background-color: #e3e7ed;
}

header {
    background-color: #ffffff;
    box-shadow: 0 2px 3px rgba(0,0,0,0.1);
}

#missionstable tbody tr {
    cursor: pointer;
}

#detailsMissionModal label {
    font-weight: bold;
}
.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}