{% extends 'admin/base.admin.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1>Welcome on your dashboard</h1>

    ...
</div>
{% endblock %}
